<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="jwf.debugport.app">

    <!--
    Only used when running in `release` variant, for the code that displays the current ip..
    not needed for your app, unless you also wish to access wifi state.
    -->
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE"/>

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        android:name=".App">

        <meta-data android:name="jwf.debugport.METADATA_DEBUG_PORT" android:value="8000"/>
        <meta-data android:name="jwf.debugport.METADATA_SQLITE_PORT" android:value="9000"/>
        <meta-data android:name="jwf.debugport.METADATA_STARTUP_COMMANDS" android:resource="@array/startup_commands"/>

        <activity android:name=".MainActivity">
            <intent-filter>
                <category android:name="android.intent.category.LAUNCHER"/>
                <action android:name="android.intent.action.MAIN"/>
            </intent-filter>
        </activity>
    </application>

</manifest>
